

/* definicion de variables */

:root{

    --color-principal:#ffffff;
    --color-secondary:#3a167e;

    --color-background:#3e0a5c;
    --colort-transparent:transparent;


    --color-icon: #1c62a8;
    --color-tittle:#222222;
    --color-subtitle:#888;
    --color-text:#2092a1;

}



/* estructura principal */

html{
    font-size:10px
}

body{
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    
    color: var(--color-tittle);
}

/* estructura_principal
 */
.layout{
    position: relative;
    min-width: 1290px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: 
    "aside content";
    grid-template-columns: 30% 70%;
     
    /* sombra detras */
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgb(0,0, 0.25);
}

/* Barra Lateral azul */

.layout__aside{
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.user-info__general{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-principal);
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-secondary);
    color: var(--color-principal);
}

.user-info__container-image{
    display: block;
    height: max-content;
    width: max-content;
    margin-top: 7rem;    
    position: relative;
    margin-bottom: 1rem ;
    z-index: 1;
}

.user__info-image{
    height: 25rem;
    background-color: var(--color-principal);
}

.user-info__container-image::after{
    content: "";
    position: absolute;
    top: 4%;
    left: 8%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff,#fff 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    z-index: -1;
    opacity: 0.3;
}

.user-info__name{
    font-size: 3.2rem;
    font-weight: bold;
    margin-top: 2.6rem;
    color:var(--color-principal)

}

.user-info__job{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-principal);
}

/* menu navegacion alteral */
.layaout__menu{
    display:block;
    position: absolute;
    min-width: 11rem;
    top: 0;
    right: -120px;
    background-color: var(--colort-transparent);
}

.menu__list{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 32rem;
    padding: 2rem 0;
    margin-left:2.5rem;
    border-radius: 6rem;
    box-shadow: 0 0 3rem -0.5 rgba(0, 0, 0, 0.15);
    background-color: var(--color-principal);
}

.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon{
    color: var(--color-secondary); 
}



.menu__icon{
    color: var(--color-icon);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__overlay{
    opacity: 0;
    position: absolute;
    display: block;
    right: 0;
    margin-top: -3.2rem;
    color:var(--color-principal);
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    white-space: nowrap;
    border-radius: 1.5rem 0 0 1.5rem;
    transition: all 300ms ease-in-out;  
}

.menu__option:hover .menu__overlay{
    opacity: 1;
   right: 100%;
}


.user-info__links{
    margin-bottom: 3.6rem;
}

.links__social{
    display: flex;
    text-align: center;
    margin-top: 2rem;
}

.social__option{
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
    opacity: 0.9;
}
.fa-brands{
    color: white;
}

.social__option:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20) ;
}

.user-info__buttons{
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.user-info__btn{
    border:2px solid var(--color-principal);
    padding: 3rem;
    border-radius: 3.2rem;
    color: var(--color-principal);
    box-shadow: 0 20px 20px -5px rgba(0, 0, 0, 0.22);
    transition: all 300ms ease-in-out;
}

.user-info__btn:hover{
    background-color: var(--color-principal);
    color: var(--color-secondary);
}

.user-info__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;

}

/* contenido principal */

.layout__content{
    grid-area: content;
    background-color: var(--color-secondary);
    height: 100%;
    min-height: 100%;
    border-radius: 0 4rem 4rem 0;

}

.content__page{
    min-height: 100%;
    border-radius: 4rem 4rem 4rem 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    background-color: var(--color-principal);

}

.page__name{
    font-size: 6rem;
    margin-bottom: 1rem;
}

.page__job{
    font-size: 2.1rem;
    font-weight: lighter;
    counter-reset: var(--color-subtitle);
}

/* sobre mi + estilos generales compartidos por curriculum */

.content__about,
.content__curriculum,
.content__portafolio,
.content__contacto{
    height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;
    min-height: 100%;
    border-radius: 4rem 4rem 4rem 4rem;
    display: block;
    background-color: var(--color-principal);
}

.content__contacto{
    overflow: hidden;
}

.about__header,
.curriculum__header,
.certificate__header,
.portafolio__header,
.contacto__header{
    margin-bottom: 4.5rem;
    display: inline-block;
}

.about__title,
.curriculum__title,
.certificate__title,
.portafolio__title,
.contacto__title{
    font-size: 3.2rem;
    position: relative;
}

.title__color{
    color: var(--color-secondary);
    font-weight: bolder;
    font-size: 3rem;
}

.about__title::after,
.curriculum__subheader::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 110px;
    width: 40px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}

.mapform__form{
    display: flex;
    flex-direction: column;
}

/* informacion personal */

.about__personal-info{
    width: 100%;
    margin-top: 60px;
    flex-direction: row;
    margin-bottom: 5rem;
    display: flex;
    font-weight: bold;
}

.personal-info__bio{
    flex-basis: 55%;
}

.personal-info__data{
    flex-basis: 45%;
    padding: 0 2.5rem;
}

.personal-info__description{
    font-size: 1.5rem;
    line-height: 2.4;
    text-align: justify;
    color: black;
}

.personal-info__option{
   margin: 1rem 0;}

.personal-info__title{
    margin-right: 0.5rem;
    color: var(--color-secondary);
    font-weight: bold;
}

/* servicos  se comparte con reseñas*/

.about__services,
.about__reviews{
   width: 100%;
   margin-bottom: 3rem;
}

.services__header,
.reviews__header{
    display: inline-block;
    margin-bottom: 5rem;
    position: relative;
}

.services__header::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 135px;
    width: 35px;
    height: 25px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}



.service__real-icon{
    font-size: 3.5rem;
    color: var(--color-secondary);
}

.services___container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__service{
    flex-basis: 50%;
    padding: 0 2.5rem;
    margin-bottom: 3rem;
}

.service__title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.service__description{
    font-size: 1.5rem;
    line-height: 2.4;
    text-align: justify;
    font-weight: bolder;
}

/* reviwes */

.reviews__title::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 70px;
    width: 35px;
    height: 25px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;

}

.reviews__container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.reviews__review{
    flex-basis: calc(50% - 1rem);
    padding: 0 2.5rem;
    margin-bottom: 3rem;
    border: solid 2px var(--color-secondary);
    border-radius: 2rem;
    padding-right: 2.5rem;
    padding-bottom: 1.5rem;
    margin: 0.5rem;
    margin-top: 4.5rem;
}

.reviwe__image-container{
    width: 100%;
}

.revewi__image{
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0, 0.22);
}

.review__description{
    font-size: 1.5rem;
    line-height: 2.4;
    margin-bottom: 2rem;
    text-align: justify;
     font-weight: 700;
    }

.review__author{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.review__name{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.review__company{
    font-size: 1.5rem;
    font-weight: 580;
}

.review__icon{
    font-size: 4rem;
    color: var(--color-secondary);
}

/* curriculum */

.curriculum__title{
    position: relative;
}

.curriculum__title::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 140px;
    width: 40px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}

.curriculum__container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.curriculum__left{
    flex-basis: 58%;
    margin-right: 2.5rem;
}

.curriculum__timelines{
    position: relative;
    margin-bottom: 5rem;
    margin-top: 2.5rem;
}

.timelines__item{
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 1.5rem;
}

.timeline__header{
    flex-basis: 30%;
    padding-right: 1.5rem;
    text-align: right;
}

.timeline__year{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

.timeline__institucion{
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--color-secondary)
}

.timelines__description{
    width: 70%;
    padding-left: 1.5rem;
}

.timelinea__title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.timeline__description{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: black;
    font-weight: bolder;
    text-align: left;
}

.curriculum__right{
    flex-basis: 42%;
}

/* divisor */

.timeline__divider{
    position: absolute;
    top: 0;
    left: 29.5%;
    bottom: -2rem;
    width: 1px;
    border-radius: 1px;
    background-color: var(--color-subtitle);
    
}

.timeline__divider::before{
    content: "";
    position: absolute;
    top: 4.6rem;
    left: -0.7rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--color-icon);
    opacity: 0.25;
}



.timeline__divider::after{
    content: "";
    position: absolute;
    top: 5rem;
    left: -0.4rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    border: solid 1px var(--color-principal);

    opacity: 1;
}

.curriculum__skill{
    width: 100%;
    margin-bottom: 3rem;
}

.skill__item{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.skill__text{
    font-size: 1.6rem;
    line-height: 1.4rem;
}

.skill__number{
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: var(--color-text);
}

.skill__progressbar{
    height: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-principal);
    margin-bottom: 1rem;
}

.skill__porcentage{
    background-color: var(--color-tittle);
    border: 2px solid var(--color-principal);
    height: 0.78rem;
    border-radius: 1rem;
}

.skill__porcentage--mockups{
    width: 80%
}

.skill__porcentage--diseño-logos{
    width: 70%;
}

.skill__porcentage--diseño-web{
    width: 95%;
}
.skill__porcentage--html{
    width: 90%;
}
.skill__porcentage--css{
    width: 90%;
}

.skill__porcentage--react{
    width: 80%;
}

/* certificados */

.certificates__container{
   width: 100%;
}

.certificates_certificate{
    display: flex;
}

.cartificates__item{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    align-items: start;
    border: solid  1px var(--color-secondary);
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
    
}

.cartificates__item:hover{
    box-shadow: 0px 10px 10px -9px rgba(0,0,0, 0.22);
}

.certificate__subtitle,
.certificate__numberid{
    margin-left: 1rem;

}

.certificate__header{
    margin-bottom: 5rem;
    position: relative;
}

.certificate__header::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 160px;
    width: 40px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}

.certificate__logoimg{
    position: relative;
    background-color: var(--color-principal);
    top: -2.5rem;
    left: 50%;
    width: 120px;
    height: 50px;
    border: solid 1px var(--color-secondary);
    box-shadow: 0px 10px 10px -9px rgba(0,0,0, 0.22);
    border-radius: 1rem;
}

/* portafolio */

.portafolio__title::after{
    content: "";
    position: absolute;
    top: 15px;
    left: 120px;
    width: 40px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}

.portafolio__navbar{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    gap:5rem;
}

.portafolio__menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:5rem;
}

.portafolio__link{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-tittle);
    transition: all 300ms ease-in-out;
}

.portafolio__link:hover{
    color: var(--color-secondary);
    text-shadow: 0px 0px 2px black;
}

.portafolio__gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery__item{
    flex-basis: 30%;
    margin-bottom: 3rem;
    position: relative;
    padding: 0 2.5rem;
}

.gallery__container-image{
    overflow: hidden;
}

.image__gallery{
    min-height: 180px;
    transition: all 300ms ease-in-out;
}

.gallery__item:hover .image__gallery{
    transform: scale(1.1);
}

.gallery__title{
    font-size: 1.6rem;
    padding: 1.5rem 0;
    font-weight: bold;

}

.gallery__icon{
    position: absolute;
    top: 0;
    right: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: var(--color-subtitle);
    border-radius: 50%;   
    background-color: var(--color-principal);
    transition: all 300ms ease-in-out;
    opacity: 0;
}


.gallery__item:hover .gallery__icon{
    opacity: 1;
}

/* contacto */


.contacto__title::after{
    content: "";
    position: absolute;
    top: 25px;
    left: 130px;
    width: 40px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-text),var(--color-secondary) 1px,transparent 1px,transparent 100%);
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}

.contacto__container{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-direction: row;
    
}

.contacto__medios{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.contacto__item{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid var(--color-secondary);
    padding:2rem;
    background-color: var(--color-principal);
    
}

.contacto__icon{
    font-size: 3rem;
    color: var(--color-secondary);
    text-align: center;
}

.subtitle__medios{
    text-align: center;
}



.form__body{
 display: flex;
 width: 100%;
 justify-content: space-evenly;
}

.form__title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-left: 2rem;
    color: var(--color-secondary);
}

.mapform__form{
    position: relative;
    display: flex;
    fl
    
}

.form__title::after{
    content: "";
    position: absolute;
    top: 19px;
    left: 280px;
    width: 35px;
    height: 25px;
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
}

.form__label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-secondary);
}

.form__input{
    width: 100%;
    height: 3rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.form__textarea{
    width: 100%;
    height: 10rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-text);
}

.form__button{
    width: 100%;
    height: 3rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-tittle);
    background-color: var(--color-principal-);
    transition: all 300ms ease-in-out;
}

.form__button:hover{
    background-color: var(--color-secondary);
    color: var(--color-principal);
}




/* imagen de fondo */

body{
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -128;
}


@media (max-width: 768px) {
    .layout {
        grid-template-areas: 
        "aside"
        "content";
        grid-template-columns: 100%;
    }
    
    .layout__aside, .layout__content {
        
    }
}
